notebooks/.ipynb_checkpoints*
src/.ipynb_checkpoints*
docs/.ipynb_checkpoints*
notebooks*
numerics*
figures*
notebooks/tmp.gif
*.DS_Store
*.synctex.gz
*.log
*.aux
*.bib
.history/
plotutil/
docs/create*
docs/learn*
test/
dataanalysis/
notes/
.jukit
