notebooks/.ipynb_checkpoints*
src/.ipynb_checkpoints*
docs/.ipynb_checkpoints*
notebooks*
numerics*
figures*
notebooks/tmp.gif
*.DS_Store
*.synctex.gz
*.log
*.aux
*.bib
.history/
docs/calibrate_pde_model.ipynb
docs/trained_b.h5
